//This file will create mpatch_macro.h and kconfig
//"M:" module name, "P:" Patch name

M:PLATFORM,"Platform Porting layer"
P:ARCH_GENERAL,y,"General Config For ARCH"
P:ARM,y,"For ARM only"
P:MIPS,y,"For MIPS only"
P:PM,y,"For PM Power Off"
P:ARM_ERRATA_775420,y,"ARM errata_775420: A data cache maintenance operation which aborts, might lead to deadlock"
P:ARM_ERRATA_835769,n,"ARM errata_835769: 64-bit multiply-accumulate instruction in AArch64 state to generate an incorrect result"
P:ARM_64bit_POARTING,y,"Mstar ARM64 porting modification"
P:ARM_64bit_BOOTARGS_NODTB,n,"parsing bootargs without DTB"
P:MSTAR_LEGANCY_INTR,y,"For Second Level Interrupt"
P:SW_PATCH_L2_SRAM_RMA,n,"For L2 Sram RMA"
P:MIPS74K_TIMER,y,"Increase waiting time for timer to response"
P:ARM_MSTAR_ETM,y,"For ARM ETM patch"
P:INT_1_to_1_SPI,n,"Interupts connect to gic spi separately"
P:ARM_PMU,y,"For ARM PMU"
P:LZMA_BIN_COMPRESSED,y,"Enable lzma bin compressed suppor"
P:CPU_SETTING,y,"Enable DVFS(dynamic voltage frequency scaling) function"
P:T_SENSOR_OBSERVATION,n,"Use kthread to observe the temperature difference"
P:FIXME,y,"PLEASE FIX ME"
P:FIQ_IRQ_HYP,n,"the extra irq and fiq which is designed for CA12"
P:UTOPIA2_INTERRUPT,n,"Support utopia2 interrupt framework"
P:UTOPIA2K_EXPORT_SYMBOL,n,"Export function for utopia2k"
P:ARM_MEMORY_HOTPLUG,n,"Add lx_mem2 to high mem page after SN starting"
P:ARM64_DTB_IRQNUM_CHECK_OFF,y,"turn off the dtb irq number check to avoid irq number which is bigger than 256 registering failed"
P:FRC_MAPPING,n,"mapping 2MB for FRC usage, this is used for manhattan for now"
P:GIC_SET_MULTIPLE_CPUS,n,"Use affinity hint to allow multiple CPUs for IRQ, depends on ARM_GIC && SMP. If this option is enabled, affinity is also set to all cpus present in affinity_hint and requested masks."
P:DVFS_GET_ERR_STATE_FROM_CPUHOTPLG_DISABLE,n,"CONFIG_MP_PLATFORM_DVFS_GET_ERR_STATE_FROM_CPUHOTPLG_DISABLE Depends On CONFIG_HOTPLUG_CPU For MP Purpose"
P:PIPE_FLUSH_DOUBLE_CHECK,y,"Dummy read for flushing pipe correctness"

M:NAND,"NAND Driver Porting layer"
P:UBI, y, "Patch for UBI"
P:MTD, y, "Patch for MTD"
P:UBIFS, y,"Patch for UBIFS"
P:Spansion, y,"Patch for specific customers"
P:BBT, y,"patch for the security mechanism of bbt"
P:BBT_SIZE, y,"add bbt size compatibility and pair page effect"

M:USB,"USB Driver Patch"
P:MSTAR, y, "MSTAR USB Porting"

M:USB,"USB STR patch"
P:STR_PATCH,y,"MSTAR Patch for usb str"

M:EMMC,"EMMC driver patch"
P:TRIM, y, "TRIM patch for EMMC driver"

M:CHECKPT, "Print for autotest"
P:BOOT,y,"Add a checkpoint for boottime autotest"

M:COMPILER,"Fix Compiler Error"
P:ERROR,y,"Please Fix Compiler Error"

M:Android,"MSTAR Android Patch"
P:DUMMY_MSTAR_RTC,n,"MSTAR Fake RTC For Android"
P:MSTAR_HARDCODE_LPJ,n,"hardcode lpj for china customer"
P:MSTAR_RC_MAP_DEFINE,y,"MStar rc map define, depend on CONFIG_MSTAR_IR_INPUT_DEVICE"
P:MSTAR_ADJUST_LOW_MEM_KILLER_POLICY,n,"Adjust low_mem_killer's policy for low ram device"
P:MSTAR_CHANGE_IRQ_FILE_PERMISSION,y,"Chagne /proc/irq/*/irq permission to 666"

M:DEBUG_TOOL,"MSTAR DEBUG_TOOL"
P:COREDUMP,y,"Enable COREDUMP Item"
P:KDEBUG,y,"Enable KDEBUG Item"
P:COREDUMP_PATH_BOOTARGS_ONLY,n,"coredump file will not be saved to usb, only saved to the file path from bootargs"
P:COREDUMP_USB_DEFAULT,n,"detect usb plugin and usb driver insert"
P:COREDUMP_PATH_BACKUP,n,"set Coredump Path depend on bootargs"
P:OPROFILE,y,"Enable OProfile Item"
P:PMU_TIMER_MODE,n,"Enable PMU Timer Mode"
P:VM_USED_SIZE_CHECK,y,"Add a Check for VM Space Usage"
P:COREDUMP_BUILD_IN_USB,n,"USB module is static build-in"
P:COREDUMP_WITHOUT_COMPRESS,n,"store coredump without compress"
P:CHANGELIST,y,"Display Kernel Changelist"
P:MEMORY_USAGE_MONITOR,n,"To monitor the order and migratetype of buddy system pages, and the page_alloc time cose"
P:RAMLOG,n,"MSTAR RAMLOG driver"
P:MEMORY_USAGE_TRACE,n,"Tools to trace all page allocation, we can used it to analysis mem leak, or trace migration failed pages"
P:THREAD_CREATE_MONITOR,n,"Trace and print thead info creations"
P:COREDUMP_KEEP_KICKING_WDT,n,"To keep kicking WDT during dumping core file"
P:DUMP_STACK_EACH_CPU, n, "dump each cpu's stack on timer"

M:MIPS_L2,"MIPS Mstar L2 Patch"
P:CACHE,y,"Enable MIPS L2 Cache Mechanism"

M:SMP,"Core 2 control"
P:STARTUP,y,"Booting address of core2"

M:UART,"MSTAR UART"
P:SERIAL_8250_RIU_BASE,y,"RIU BASE for SERIAL 8250"

M:NTFS3G,"NTFS3G CONTROL"
P:WRAP,y,"Enable NTFS3G WRAP"

M:MSTAR_STR,"MStar STR"
P:BASE,n,"Enable MStar STR"

M:CA7,"CA7 Quad Core patch"
P:QUAD_CORE_PATCH,n,"MSTAR porting code for CA7 Quad-Core"

M:security,"security"
P:dm_verity,n,"porting dm verity"

M:SYNC_3_1_10_SETTING,"Sync 3.1.10 setting"
P:VMALLOC_SETTING,n,"Sync 3.1.10 vmalloc setting"

M:CMA_PATCH,"CMA PATCH"
P:LX_MEMORY_ALIGN_TO_8K_CHECK,y,"cma_buffer will be re-mapped, so we need to ensure LX_MEMORY will align to 8K"
P:CMA_MSTAR_DRIVER_BUFFER,y,"Store MSTAR DRIVER CMA BUFFER INFO"
P:CMA_AGGRESSIVE_ALLOC,y,"Aggressively allocate the pages on cma reserved memory, depends on CONFIG_CMA"
P:CMA_MORE_AGGRESSIVE_ALLOC,y,"More aggressively allocate the pages on cma reserved memory if alloc movable fail, depends on CONFIG_CMA"
P:CMA_DYNAMIC_STRATEGY,n,"Dynamic strategy to control allocation ratio between CMA and normal memory"
P:CMA_64_BIT_TEMP_MODIFICATION,y,"cma in kernel 64_bit modification, which need to be reviewed after kernel 64_bit is finished"
P:CMA_DEFAULT_BUFFER_LIMITTED_TO_LX0,n,"cma default buffer will be limitted to LX0 MEM, otherwise, it will be limitted to arm_lowmem_limit"
P:FORCE_MIGRATION,n,"move_to_new_page() will force migrate a page @cma_buffer to a new_page"
P:FORCE_ALLOC_START_ADDR,y,"dma_alloc_at_from_contiguous() will change start_addr if alloc_contig_range is failed and start is 0x0(offset of cma_pool is 0x0), this will lead dma_release_from_contiguous failed"
P:COMPACTION_FROM_NONCMA_TO_CMA,y,"In case CMA area is too big, we need to balance free pages from CMA area to non CMA area to match unmovable allocation requirement"
P:DELAY_FREE,n,"Delay Free CMA Buffer"
P:MIGRATION_FILTER,y,"compaction migrate bdev/journal buffer page is not allowed"
P:FORBIDDEN_MOVABLE_FALLBACK_TO_CMA,n,"forbidden MOVEABLE fallback to CMA on page alloc, for debug usage"
P:DEBUG_STATIC_MIU_PROTECT,n,"cma static miu protect for debug"
P:OOM_KILLER,n,"while there is no any large order pages(ex: order 2), still go to kill process even the order 0 pages is still a lot"
P:SMALLER_SOCKET_BUFFER,y,"change the socket buffer max_order from 2 to 0, for preventing memory fragmentation issue"
P:DO_FORK_PAGE_POOL,y,"reserve a page_pool of order 2 page, for preventing memory fragmentation issue when do_fork @ creating thread_info"
P:SMALLER_SLAB_PAGE,y,"change the alloc_slab_page() size to min order 0"
P:ION_LOW_ORDER_ALLOC,y,"change the ion only alloc order 0 page"
P:DISABLE_HIORDER,n,"Disable all hiorder page alloc"
P:MSTAR_KMALLOC,y,"Mstar kmalloc"
P:AGRESSIVE_KILL_PROCESS_TO_FREE_CMA_PAGE,y,"Agressively killing processes which hold CMA pages to avoid tons of migrations"
P:KSM_MIGRATION_FAILURE,y,"Patch for KSM page migrating failture"
P:VM_UNMAP,N,"Forcibly removed VM unuse pages"
P:EVDEV_USING_CMA_BUFFER,y,"evdev using mstar alloc"
P:SPARSEMEM_MAPPING_256MB,n,"ARM64 SPARSEMEM SECTION bit use 28bit to mapping,for reduce mapping size"
P:MBOOT_STR_USE_CMA,n,"We will reserver a cma_memory for mboot use. Reserver before str_suspend, and Release after str_resume"
P:LOW_MEMEROY_SOLUTION,n,"If the linux kernel is low configuration, ex: monet_32bit 512MB, then the system reserved memory will changed to lower configuration"
P:COUNT_TIMECOST,y,"If you need to count the time cost of each cma_ioctl"
P:POOL_UTOPIA_TO_KERNEL,y,"CMA POOL utopia to kernel mode"
P:PCI_ALLOC_FREE_WITH_CMA,n,"pci related memory usage will use cma"

M:GLOBAL_TIMER,"Global timer use external crystal"
P:12MHZ_PATCH,n,"Global timer use 12MHz Xtali"

M:ION_PATCH,"ION PATCH"
P:MSTAR,n,"Choose this option if you wish to use ion on an mstar platform, depend on ION"
P:CACHE_FLUSH_MOD,y,"modify cacheflush for user to call"

M:STATIC_TIMER,"Use static timer"
P:CLOCK_SOURCE,n,"Change timer clock source"

M:SPARSE_MEM,"SPARSE_MEMORY_PATCH"
P:ENABLE_HOLES_IN_ZONE_CHECK,y,"Check if we enable CONFIG_HOLES_IN_ZONE for ARM chips(MIPS does not eanbled)"

M:FAT,"FAT Filesystem"
P:VOLUME_LABEL,y,"ENABLE FAT VOLUME LABEL"
P:DEBUG_MESSAGE_CONTROL,y,"CONTROL FAT DEBUG MESSAGE"

M:NTFS,"KERNEL SELF NTFS CONTROL"
P:IOCTL,y,"Enable NTFS IOCTL"
P:VOLUME_LABEL,y,"Enable NTFS VOLUME LABEL"
P:VOLUME_ID,y,"Enable NTFS VOLUME ID"
P:READ_PAGES,y,"ADD and Enable NTFS READ PAGES"
P:2TB_PLUS_PARTITION_SUPPORT,n,"Add 2TB+ Partition Support"
P:PAGE_CACHE_READAHEAD,y,"Add page cache readahead for some operations to improve performance"

M:SCSI,"SCSI sd card"
P:MSTAR_SD_CARD_HOTPLUG,y,"MSTAR Patch for sd card hotplug"
P:MSTAR_SD_CARD_IMMEDIATELY_UNPLUG,y,"MSTAR Patch for sd card Immediately unplug after plug"
P:HD_SUSPEND,y,"Do not clean cache when suspend"
P:MULTI_LUN,y,"recognize multi-lun device's luns which are not the first lun"

M:ETHERNET,"Enhane smartbit result"
P:MSTAR_ICMP_ENHANCE,n,"MSTAR Patch for pass Smartbit ICMP throughput test"

M:WIFI,"WIFI relative patch"
P:INC_DEFAULT_DMA_COHERENT_POOL_SIZE,y,"Increase default dma buffer value"

M:CIFS,"CIFS PATCH"
P:UNUSE_NTLMSSP_DEFAULT,y,"Do not use ntlmssp when connect windows service default"

M:SCHED,"Antutu relative patch"
P:POLICY_PATCH,y,"Hide schedule policy for Antutu"
P:POLICY_CHANGED_AVOIDED,y,"Avoid antutu 6.0 changing policy"

M:PURE_SN,"MS_PHY64 SN PATCH"
P:32BIT,n,"MS_PHY64 = 32bit"

M:NEW_UTOPIA,"NEW UTOPIA 32BIT PATCH"
P:32BIT,n,"NEW UTOPIA 32BIT PATCH"

M:DVFS, "DVFS_MODIFICATION For Kernel"
P:FORCE_SET_TARGET_FREQ,y,"forcibly set target freq while in need(ex: T_Sensor)"
P:FORCE_USE_ONE_FREQ,n,"forcibly the target_freq to be same(1100MHz), only t-sensor works"
P:FORCE_PINGO_TEST,n,"forcibly the target_freq to be same(1100MHz), even t-sensor will not work"
P:FLOW_DEBUG_MESSAGE,n,"add log {} to specify if a dvfs flow is OK"
P:VID_ONLY,n,"for SN use, SN will use fixed cpufreq, but SN needs to change cpu_power, and the T_sensor check will only do reboot"
P:CPUHOTPLUG,n,"let dvfs can also do cpuhotplug"
P:CPUHOTPLUG_USE_ONLINE_CPU_MAX_LOAD,n,"let dvfs with cpuhotplug use the max_load of online cpus, instead of the max_load of cpu0 (only CPUHOTPLUG is y, then you can set this)"
P:CPUHOTPLUG_USE_ONLINE_CPU_AVERAGE_LOAD,n,"let dvfs with cpuhotplug use the average load of online cpus, instead of the max_load of cpu0 (only CPUHOTPLUG is y, then you can set this)"
P:ONDEMAND_HIGH_PERFORMANCE,n,"improve the performance of cpu frequency ondemand governor "
P:ANTUTU_HOTPLUG,n,"remain fixed online cpu nr when antutu is running "
P:INTERACTIVE_PATCH,n,"If you use interactive mode, you must enable this"

M:CACHE,"CACHE PATCH"
P:DROP,n,"Drop cache in kernel thread"

M:ANTUTU,"Antutu relative patch"
P:MSTAR_HIDE_SCHED_POLICY,y,"Hide schedule policy for Antutu"

M:ZRAM,"ZRAM PATCH"
P:ZRAM_USING_CMA_PAGES,n,"zram will allocate pages from cma_buffer"

M:KERNEL_COMPAT,"Kernel forward/backford compatibility"
P:PATCH_FIX_INODE_CLUSTER_LIST,y,"port relative code from lower kernel version"

M:PAGE_GLOBAL_DIRECTORY,"Page Global Directory"
P:SPEEDUP,y,"Speedup pgd alloc and free"

M:PCI_PATCH,"PCI PATCH"
P:ADDR_TRANSLATE,n,"Address traslate from CPU bus to PCI bus"

M:PCI,"PCI Driver Patch"
P:MSTAR,n,"MStar PCI driver porting"

M:DDI,"DDI 64BIT kernel apply 32bit binder api"
P:64BIT_KERNEL_APPLY_32BIT_BINDER_API,n,"DDI 64bit kernel should apply 32bit binder API"

M:XC_HDR,"HDR_VERSION"
P:1_4_0,n,"HDR 1.4.0"
P:1_4_2,n,"HDR 1.4.2"

M:PRINTK,"PRINTK"
P:NO_CONSOLE_VERBOSE,n,"for print too much after coredump"

M:SEQLOCK,"seq_lock"
P:RCU_STALL,y,"disbale interrupt"

M:R2_STR,"R2TEE STR"
P:ENABLE,y,"Support R2TEE STR"

M:HRT_TIMER,"HRT Timer Patch"
P:ENABLE,n,"enable hrt timer patch"
