config MS_SDMMC
	tristate "Mstar SD/MMC Card Interface Support"
	depends on MMC
	default n
  ---help---
        Enable SD/MMC Driver Support for MStar Product

config MS_SDMMC_REVCDZ
	bool "Mstar SD/MMC Reverse CDZ Pin"
	depends on MS_SDMMC
	default n
  ---help---
        For SD Socket Type, Revert the CDZ pin Value for Card Detection

config MS_SDMMC_TCARD
	bool "Mstar SD/MMC T-Flash Card Using"
	depends on MS_SDMMC
	default n
  ---help---
        For T-Flash Socket, We don't use WP Pin

config MS_SDMMC_REVWP
	bool "Mstar SD/MMC Reverse WP Pin"
	depends on !MS_SDMMC_TCARD && MS_SDMMC
	default n
  ---help---
        For SD Socket Type, Revert the WP pin Value for Write Protection

config MS_SDMMC_SECONDCARD
	bool "Mstar SD/MMC Second Cards Support"
	depends on MS_SDMMC
	default n
  ---help---
        Enable Second SD/MMC Card Interface
        
 config MS_SDMMC_THIRDCARD
	bool "Mstar SD/MMC Third Cards Support"
	depends on MS_SDMMC && MS_SDMMC_SECONDCARD
	default n
  ---help---
        Enable Third SD/MMC Card Interface       
       

config MS_SDMMC1_MAXCLK
    int "Mstar SD/MMC1 Maximum Clock"
	depends on MS_SDMMC
    default 32000000
    range 300000 50000000
  ---help---
      The maximun Clock of SDMMC1

config MS_SDMMC1_MAXDLVL
    int "Mstar SD/MMC1 Maximum DownLevel"
    depends on MS_SDMMC
    default 0
    range 0 5
    ---help---
      The maximun Clock Downgrade Level of SDMMC1

config MS_SDMMC1_PASSLVL
    int "Mstar SD/MMC1 Pass Level"
    depends on MS_SDMMC
    default 0
    range 0 5
    ---help---
      The maximun Clock Pass Level of SDMMC1

config MS_SDMMC1_HOTP
	bool "Mstar SD/MMC1 Hotplug Support"
	depends on MS_SDMMC
	default n
  ---help---
        For SD1, Whether we need to run hotplug funciton (HW consideration)

config MS_SDMMC1_FAKECDZ
	bool "Mstar SD/MMC1 Fake CDZ"
	depends on !MS_SDMMC1_HOTP && MS_SDMMC
	default n
  ---help---
        For SD1, Whether we need to assume card detection always true (HW consideration)        
        

config MS_SDMMC2_MAXCLK
    int "Mstar SD/MMC2 Maximum Clock"
    depends on MS_SDMMC_SECONDCARD
    default 32000000
    range 300000 50000000
    ---help---
      The maximun Clock of SDMMC2

config MS_SDMMC2_MAXDLVL
    int "Mstar SD/MMC2 Maximum DownLevel"
    depends on MS_SDMMC_SECONDCARD
    default 0
    range 0 5
    ---help---
      The maximun Clock Downgrade Level of SDMMC2
      
config MS_SDMMC2_PASSLVL
    int "Mstar SD/MMC2 Pass Level"
    depends on MS_SDMMC_SECONDCARD
    default 0
    range 0 5
    ---help---
      The maximun Clock Pass Level of SDMMC2
      
config MS_SDMMC2_HOTP
	bool "Mstar SD/MMC2 Hotplug Support"
	depends on MS_SDMMC_SECONDCARD
	default n
  ---help---
        For SD2, Whether we need to run hotplug funciton (HW consideration)

config MS_SDMMC2_FAKECDZ
	bool "Mstar SD/MMC2 Fake CDZ"
	depends on MS_SDMMC_SECONDCARD && !MS_SDMMC2_HOTP && MS_SDMMC
	default n
  ---help---
        For SD2, Whether we need to assume card detection always true (HW consideration)

config MS_SDMMC3_MAXCLK
    int "Mstar SD/MMC3 Maximum Clock"
    depends on MS_SDMMC_THIRDCARD
    default 32000000
    range 300000 50000000
    ---help---
      The maximun Clock of SDMMC3

config MS_SDMMC3_MAXDLVL
    int "Mstar SD/MMC3 Maximum DownLevel"
    depends on MS_SDMMC_THIRDCARD
    default 0
    range 0 5
    ---help---
      The maximun Clock Downgrade Level of SDMMC3
      
config MS_SDMMC3_PASSLVL
    int "Mstar SD/MMC3 Pass Level"
    depends on MS_SDMMC_THIRDCARD
    default 0
    range 0 5
    ---help---
      The maximun Clock Pass Level of SDMMC3
      
config MS_SDMMC3_HOTP
	bool "Mstar SD/MMC3 Hotplug Support"
	depends on MS_SDMMC_THIRDCARD
	default n
  ---help---
        For SD3, Whether we need to run hotplug funciton (HW consideration)

config MS_SDMMC3_FAKECDZ
	bool "Mstar SD/MMC3 Fake CDZ"
	depends on MS_SDMMC_THIRDCARD && !MS_SDMMC3_HOTP && MS_SDMMC
	default n
  ---help---
        For SD3, Whether we need to assume card detection always true (HW consideration)
